.inputBox {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid blue;
  outline: none;
  background: transparent;
}

.loginButton {
  font-size: 16px;
  padding: 10px 50px;
}
.SignUpButton {
  font-size: 16px;
  padding: 10px 50px;
}






